<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--禁用其缩放（zooming）功能-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="" />
  <meta name="author" content="" />

  <!--no-cache、no-store指网页不被缓存，max-age、min-fresh生存时间，expires=0表示立即过期-->
  <meta http-equiv="Pragma" content="no-cache,no-store" />
  <meta http-equiv="expires" content="0" />

  <title>syncMemo - 同步便签</title>
  <link rel="shortcut icon" href="/static/img/favicon.png" />
  <link rel="stylesheet" href="/static/css/mdui.min.css" />
  <script src="/static/js/wangEditor.min.js"></script>
  <script src="/static/js/mdui.min.js"></script>
</head>

<body>
  {% if verify_code == "HELP"%}
  <div class="mdui-typo mdui-container">
    {{ help_content|safe}}
  </div>
  {% endif %}
  {% if verify_code != "HELP"%}
  <div id="wEditor">
  </div>

  <div class="mdui-dialog" id="memoDialog">
    <div class="mdui-dialog-title">欢迎使用SyncMemo</div>
    <div class="mdui-dialog-content">
      <div class="mdui-textfield">
        <label class="mdui-textfield-label">输入您的便签ID 或 点击确认使用系统给予的便签ID</label>
        <input id="memoID" class="mdui-textfield-input" type="text" value="{{verify_code}}"/>
      </div>
    </div>
    <div class="mdui-dialog-actions">
      <a href="/help" target="_blank"><button class="mdui-btn mdui-ripple">使用帮助</button></a>
      <button class="mdui-btn mdui-ripple" mdui-dialog-confirm>确认</button>
    </div>
  </div>
  <script type="text/javascript">
    const E = window.wangEditor;
    const editor = new E("#wEditor");
    const inst = new mdui.Dialog('#memoDialog', {
      'history': false,
      'modal': true
    });
    function confirmClick() {
      let memoID = document.getElementById('memoID').value == "" ? "{{verify_code}}" : document.getElementById('memoID').value;
      fetch("/rest/api/v1/memo?memoID=" + memoID)
        .then((res) => res.json())
        .catch((error) => console.error("Error:", error))
        .then((response) => {
          if (!response.success) {
            mdui.snackbar(response.message)
            inst.open();
            return
          }
          editor.fullScreen();
          editor.txt.html(response.data)
          var state = {title:'',url:window.location.href.split("?")[0]};
          history.pushState(state,'',memoID);
        });
    }
    window.onload = function () {
      inst.open();
      let memoIDInput = document.getElementById('memoID');
      let textValue = memoIDInput.value;
      memoIDInput.focus();
      memoIDInput.value = "";
      memoIDInput.value = textValue
      let dialog = document.getElementById('memoDialog');
      dialog.addEventListener('confirm.mdui.dialog',confirmClick );
      memoIDInput.onkeypress = function(event){
        if(event.which == 13){
          confirmClick()
        }
      }
    }
    // 或者 const editor = new E(document.getElementById('div1'))
    editor.config.uploadImgShowBase64 = true;
    editor.config.menus = [
      'head',
      'bold',
      'fontSize',
      'fontName',
      'italic',
      'underline',
      'strikeThrough',
      'indent',
      'lineHeight',
      'foreColor',
      'backColor',
      'list',
      'todo',
      'justify',
      'quote',
      'image',
      'table',
      'code',
      'splitLine'
    ];
    editor.config.showFullScreen = false;
    editor.config.zIndex = 1
    editor.create();

    let editorContent = editor.txt.html();
    function save() {
      setTimeout("save()", "{{ span_time }}");
      if (editor.txt.html() == editorContent) {
        return;
      }
      editorContent = editor.txt.html();
      fetch("/rest/api/v1/memo", {
        method: "POST",
        body: JSON.stringify({ 'memoID': "{{verify_code}}", 'content': editorContent }),
        headers: new Headers({
          "Content-Type": "application/json",
        })
      })
        .then((res) => res.json())
        .catch((error) => console.error("Error:", error))
        .then((response) => {
          if (!response.success) {
            mdui.snackbar(response.message)
          }
        })
    }
    save();
  </script>
  {% endif %}
</body>

</html>