{% extends "template_base.html" %} {% block head %}
{% endblock %} {% block body %}
<div id="app">
  <div class="mdui-dialog" id="memoDialog">
    <div class="mdui-dialog-title">创建一个便签</div>
    <div class="mdui-dialog-content">
      <div class="mdui-textfield">
        <label class="mdui-textfield-label">请输入一个便签ID</label>
        <input ref="memoID" class="mdui-textfield-input" type="text" v-model="memoID" v-on:keyup.enter="confirmClick" />
        <p v-if="memoList != null"><small>本地历史便签([[memoList.length]])</small></p>
        <button class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-m-r-1 mdui-m-t-1" v-for="item in memoList"
          :key="item" @click="updateMemoID(item)">[[item]]</button>
      </div>
    </div>
    <div class="mdui-dialog-actions">
      <a href="/help" target="_blank"><button class="mdui-btn mdui-ripple">使用帮助</button></a>
      <button class="mdui-btn mdui-ripple" @click="confirmClick">确认</button>
    </div>
  </div>
</div>
<script>
  var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data: {
      instDialog: null,
      memoID: "{{verify_code}}",
      memoList: JSON.parse(localStorage.getItem("memoList"))
    },
    methods: {
      confirmClick: function () {
        window.location.href = "/" + this.memoID;
      },
      updateMemoID: function (text) {
        window.location.href = "/" + text;
      }
    },
    mounted: function () {
      this.instDialog = new mdui.Dialog("#memoDialog", {
        history: false,
        modal: true,
      })
      this.instDialog.open()
      this.$refs.memoID.focus()
    }
  })

</script>
{% endblock %}