[general]
HOST = 127.0.0.1
PORT = 7900
DEBUG = 1
SITE_NAME = syncmemo
SITE_URL = http://127.0.0.1

[memo]
# 允许便签最大大小
MEMO_MAX_SIZE = 5
# 便签保存间隔
SAVE_SPANTIME = 5000
# 便签ID长度
MEMO_ID_LENGTH = 4
LOCAL_STORE_LENGTH = 10

[log]
PATH = logs/running.log
LEVEL = INFO

[store]
PATH = data/cache
TIMEOUT_DAY = 30