[general]
HOST = 0.0.0.0
PORT = 8220

[memo]
# 允许便签最大大小
MEMO_MAX_SIZE = 5
# 便签每次保存间隔
SAVE_SPANTIME = 5000
# 便签ID长度
MEMO_ID_LENGTH = 4
# 本地localstore存储便签ID的历史记录长度
LOCAL_STORE_LENGTH = 10

[log]
PATH = running.log
LEVEL = DEBUG

[store]
PATH = data/cache
TIMEOUT_DAY = 14