{% extends "template_base.html" %}
{% block body %}
<div class="mdui-typo mdui-container">
    <h1>使用帮助</h1>
    <p>请记住本站网址 <strong>{{g.site_url}}</strong></p>
    <p>使用步骤
    <p>
    <ol>
        <li>访问本站时，会自动分配一个随机数（类似于97ND），请稍微花几秒钟记住这个ID，点击确认开始编辑便签内容</li>
        <li>编辑便签内容后（支持<strong>文字/图片</strong>），在任意可以访问本站的设备上输入本站网址，并输入上一步中记住的ID,即可获得相同的便签内容</li>
    </ol>

    <p>友情提示
        <p>
        <ol>
            <li>点击右下角分享按钮，可展示二维码方便手机等设备直接扫码访问</li>
            <li>如希望分享出去的内容不被改变，可点击右下角分享，选择生成<strong>纯文本页面用于分享即可</strong></li>
        </ol>
    

    <h1>syncmemo有什么用途？</h1>
    <p>是否偶尔遇到需要手机向公共PC发送一些文字/图片内容？</p>
    <P>在公共PC上登录微信QQ又不太方便，安装微信QQ等通讯软件就为了发送一些信息不太值得，而且在公共电脑的登录微信/QQ不太安全</P>
    <p>此时syncmemo就是银弹了，使用手机访问本站并编辑便签内容，在PC上访问本站，并输入相同的便签ID，即可在手机与PC之间共享数据</p>

    <h1>使用声明</h1>
    使用者烦请遵守以下规则
    <ol>
        <li>本站对于所有便签内容不做长时间保存保障（{{g.timeout_day}}天），请勿存储重要资料，本站本质上是提供信息传输而不是信息保存</li>
        <li>本站未对安全性做过多保障，请勿用于保存帐号/密码等重要资料，如意外泄密或丢失本站均不负责</li>
        <li>单便签最大大小不超过{{g.memo_max_size}}Mb，如有大批量使用请求，可考虑自行部署</li>
        <li>本站程序基于Python+Flask开发，代码是开源的，欢迎Clone/Fork/Star：&nbsp;<a target="_blank"
                href="https://github.com/chancelyg/SyncMemo">https://github.com/chancelyg/SyncMemo</a></li>
    </ol>

    <p>感谢：<a href="https://getnote.cf/" target="_blank">https://getnote.cf/</a>，本站实质上是该网站的复刻板<br></p>


    <h1>关于</h1>
    <p>关于本站的更多信息，可以访问&nbsp;<a href="https://www.chancel.me/articles/69" target="_blank">SyncMemo在多个设备之间快速同步便签内容 -
            Chancel's blog</a>
    </p>
    <P><small>作者：Chancel.Yang</small>
    <p>
    <P><small><a href="https//:www.chancel.ltd">博客：https//:www.chancel.me</a></small>
    <p>
    <p></p>
</div>
{% endblock %}