{% extends "template_base.html" %}
{% block body %}
<div class="mdui-container">
  <div class="mdui-typo">
    <h1 class="mdui-text-center mdui-text-color-theme">404</h1>
    <p class="mdui-text-center mdui-typo-title mdui-text-color-theme">页面不存在</p>
    <p class="mdui-text-center mdui-typo-subheading">您所请求的便签内容似乎不存在</p>
    <div class="mdui-text-center mdui-m-t-4">
      <a href="/" class="mdui-btn mdui-btn-raised mdui-color-theme-accent mdui-ripple">返回首页</a>
    </div>
  </div>
</div>
{% endblock %}