{% extends "template_base.html" %} {% block head %}

<!-- https://quilljs.com/ -->

<!-- Include stylesheet -->
<link href="/static/css/quill.snow.css" rel="stylesheet" />
<link href="/static/css/memo.css" rel="stylesheet" />
<!-- Include the Quill library -->
<script src="/static/js/quill.min.js"></script>
{% endblock %} {% block body %}

<button
    class="mdui-fab mdui-fab-fixed mdui-ripple custom-z-index"
    mdui-dialog="{target: '#helpDialog'}"
    mdui-tooltip="{content: '使用帮助'}">
    <i class="mdui-icon material-icons">share</i>
</button>
<div class="mdui-dialog custom-z-index" id="helpDialog">
    <div class="mdui-dialog-title">分享给其他人（版本{{g.version}})</div>
    <div class="mdui-dialog-content">
        <img src="{{img}}" class="mdui-center" alt="二维码" />
        <p class="mdui-text-center">
            <strong>{{request.path.replace('/','')}}</strong>
        </p>
    </div>
    <div class="mdui-dialog-actions">
        <a href="/help" target="_blank"><button class="mdui-btn mdui-ripple"
                mdui-dialog-confirm>
                使用帮助
            </button></a>
        <a href="/immutable/{{hex_str}}" target="_blank"><button
                class="mdui-btn mdui-ripple">分享便签（限制编辑）</button></a>
    </div>
</div>

<div class="editor-container">
    <!-- Create the editor container -->
    <div id="editor" class="mdui-typo">{{memo_content | safe}}</div>
</div>

<!-- Initialize Quill editor -->
<script>
  var tmpContent = null;

  var quill = new Quill("#editor", {
    theme: "snow",
  });


  function save() {
  console.log(quill);
  if (quill.root.innerHTML == tmpContent) {
      return;
    }
    tmpContent = quill.root.innerHTML;
    fetch("/rest/api/v1/memo", {
      method: "POST",
      body: JSON.stringify({ memoID: "{{memo_id}}", content: tmpContent }),
      headers: new Headers({
        "Content-Type": "application/json",
      }),
    })
      .then((res) => res.json())
      .catch((error) => console.error("Error:", error))
      .then((response) => {
        if (!response.success) {
          mdui.snackbar(response.message);
        }
      });
  }

  setInterval("save()", 500);

  function copy() {
    const input = document.createElement("input");
    input.setAttribute("readonly", "readonly");
    input.setAttribute("value", "{{request.url}}");
    document.body.appendChild(input);
    input.setSelectionRange(0, 9999);
    navigator.clipboard.writeText(text);
    document.body.removeChild(input);
  }

  var memoList = JSON.parse(localStorage.getItem("memoList"));
  if (memoList == null) {
    memoList = Array();
  }
  if (memoList.indexOf("{{memo_id}}") == -1) {
    memoList.splice(0, 0, "{{memo_id}}");
    memoList.length =
      memoList.length > 10 ? parseInt("{{localStoreLength}}") : memoList.length;
    localStorage.setItem("memoList", JSON.stringify(memoList));
  }
</script>

{% endblock %}
