<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--禁用其缩放（zooming）功能-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="" />
  <meta name="author" content="" />

  <!--no-cache、no-store指网页不被缓存，max-age、min-fresh生存时间，expires=0表示立即过期-->
  <meta http-equiv="Pragma" content="no-cache,no-store" />
  <meta http-equiv="expires" content="0" />
  <title>{{g.site_name}}</title>
  <link rel="shortcut icon" href="/static/img/favicon.webp" />
  <link rel="stylesheet" href="/static/css/mdui.min.css" />
  <script src="/static/js/mdui.min.js"></script>
  <script src="/static/js/vue.min.js"></script>
  {% block head %}
  {% endblock %}

</head>

<body class="mdui-theme-primary-blue mdui-theme-accent-light-blue">

  {% block body %}
  {% endblock %}



  {% if verify_code == "HELP"%}
  <div class="mdui-typo mdui-container">
    {{ help_content|safe}}
  </div>
  {% endif %}
  {% if verify_code != "HELP"%}



  {% endif %}
</body>
</html>