{% extends "template_base.html" %}
{% block body %}
<div class="mdui-typo mdui-container">
    <h1>使用帮助</h1>
    <p>你是否经常遇到一些文字图片内容需要向 PC 或者 Pad 传输，但登录微信又显得很笨重麻烦？那么访问本站，输入相同 ID 即可实现传输任意文字图片到其他设备上</p>
    <p>使用步骤
    <ol>
        <li>访问本站会分配一个随机数，例如 <kbd>1234</kbd> ，点击确认开始编辑内容</li>
        <li>编辑完成后，在任意设备上访问本站并输入相同ID，即可查看相同的便签内容</li>
    </ol>
    </p>
    <p>分享提示
    <ol>
        <li>点击右下角分享按钮，会生成二维码网址，使用手机扫码访问该便签</li>
        <li>使用分享功能分享出去的便签内容是不可编辑的，便于展示</li>
    </ol>
    </p>

    <h1>使用声明</h1>
    使用者烦请遵守以下规则
    <ol>
        <li>请勿使用本站存储重要资料，，如意外泄密或丢失本站均不负责<</li>
        <li>便签大小不得超过 {{max_size}}Mb ，如有大的使用请求，请考虑自行部署</li>
        <li>本站程序基于 Python + Flask 进行开发，代码开源，欢迎提供建议或检查源码：&nbsp;<a target="_blank"
                href="https://github.com/chancelyg/SyncMemo">https://github.com/chancelyg/SyncMemo</a></li>
    </ol>

    <p>感谢：<a href="https://getnote.cf/" target="_blank">https://getnote.cf/</a>，本站实质上是该站的复刻<br></p>

    <h1>关于</h1>
    <P>作者：<a href="https://www.chancel.me" target="_blank">Chancel Yang</a> <br>日期：2024-11-25 <br> 版本：{{version}}</p>
</div>
{% endblock %}